/* Header */

.section_header:nth-of-type(1) {
  border-bottom: 3px solid #f4f7f1;
  margin: 30px;
}

.two_emissions_graphs {
  margin: 30px;
}

.header_home .box {
  flex: 1;
  margin: 20px 10px;
  padding: 15px 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.home .text {
  flex: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* Section new entries calculators*/

.section_new_entries {
  padding: 20px;
}

.section_carbon_app_new_entry_main {
  background-color: #f4f7f1;
}

.carbon_app_new_entry_main {
  align-items: center;
  background: #f4f7f1;
}

.carbon_app_new_entry_main .box {
  background-color: #ccdac4;
  color: black;
  border-radius: 10px;
  margin: 10px;
  padding: 15px 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 260px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.carbon_app_new_entry_main .box:nth-of-type(8) {
  margin-bottom: 20px;
}

.instructions_calculator {
  text-align: center;
  min-height: 50px;
}

/* Buttons */

.section_container_buttons_carbon_app_new_entry_main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn_carbon_app_new_entry_main,
.box .btn, #filter_date {
  background-color: #628354;
  border-radius: 3px;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  margin: 4px 2px;
  text-align: center;
  border: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

#filter_all,
#filter_individual {
  border-radius: 3px;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  margin: 4px 2px;
  text-align: center;
  border: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.btn_carbon_app_new_entry_main:hover,
.box .btn:hover,
#filter_all:hover,
#filter_individual:hover, #filter_date:hover {
  transform: translateY(2px);
  box-shadow: none;
  color: black;
  background-color: #557249;
}

.btn_carbon_app_new_entry_main:active,
.box .btn:active, #filter_date:active {
  transform: translateY(4px);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2),
    inset 0 0 8px rgba(0, 0, 0, 0.4);
}

/* #filter_all:focus,
#filter_individual:focus,
#filter_all:active,
#filter_individual:active {
  transform: translateY(4px);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2),
    inset 0 0 8px rgba(0, 0, 0, 0.4);
  background-color: #557249; */
/* } */

.section_header .container_filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}

.container_filter p {
  margin: 10px;
}

.table_main .btn {
  background-color: rgb(220, 48, 48);
  border-radius: 3px;
  padding: 10px 10px;
  text-decoration: none;
  color: black;
  margin: 4px 2px;
  text-align: center;
  border: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.table_main .btn:hover {
  transform: translateY(2px);
  box-shadow: none;
  color: black;
  background-color: rgb(192, 30, 30);
}

.table_main .btn:active,
.table_main .btn:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: rgb(192, 30, 30);
  color: black;
  transform: translateY(4px);
}

/* Modal calculator */

.modal-footer .btn:nth-of-type(1) {
  background-color: grey;
  border-radius: 3px;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  margin: 4px 2px;
  text-align: center;
  border: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.modal-footer .btn:nth-of-type(2) {
  background-color: #628354;
  border-radius: 3px;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  margin: 4px 2px;
  text-align: center;
  border: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.modal-footer .btn:nth-of-type(1):hover {
  transform: translateY(2px);
  box-shadow: none;
  color: black;
  background-color: rgb(111, 111, 111);
}

.modal-footer .btn:nth-of-type(2):hover {
  transform: translateY(2px);
  box-shadow: none;
  color: black;
  background-color: #557249;
}

.modal-footer .btn:nth-of-type(1):focus {
  transform: translateY(4px);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2),
    inset 0 0 8px rgba(0, 0, 0, 0.4);
}

.modal-footer .btn:nth-of-type(2):focus {
  transform: translateY(4px);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2),
    inset 0 0 8px rgba(0, 0, 0, 0.4);
}

.modal-body .label {
  left: 20vh;
  margin: 20px;
}

.modal-body {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ccdac4;
}

.modal-footer,
.modal-header {
  background-color: #ccdac4;
}

#transport,
#fuel {
  background-color: #628354;
  border-radius: 3px;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  margin: 4px 2px;
  text-align: center;
  border: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

#transport:hover,
#fuel:hover {
  transform: translateY(2px);
  box-shadow: none;
  color: black;
  background-color: #557249;
}

#transport:focus,
#fuel:focus {
  transform: translateY(4px);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2),
    inset 0 0 8px rgba(0, 0, 0, 0.4);
  outline: none;
}

#kms {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 2px;
  border: 0.5px solid black;
  background-color: #f4f7f1;
  color: black !important;
  margin-bottom: 20px;
}

.modal-content {
  border-radius: 10% !important;
  width: 50%;
}

/* My Data */

#filter_all, #filter_individual, #filter_date, #filter_end, #filter_start {
  margin: 5px;
}

#filter_start, #filter_end {
  padding: 10px;
}

.two_emissions_graphs .charts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#emissions_by_transport,
#over_time_emissions,
#kms_by_transport,
#over_time_kms {
  margin: 30px;
  width: 50vh !important;
  height: auto !important;
}

/* Media Queries */

@media (max-width: 800px) {

  .two_emissions_graphs .charts, home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  #emissions_by_transport,
  #over_time_emissions,
  #kms_by_transport,
  #over_time_kms {
    width: 100% !important;
    height: auto !important;
    margin: 10px !important;
  }

  
  html,
  body {
    background-color: #e7efe5 !important;
  }

  .footer {
    width: 100vh;
  }
}
