/* Header */

.section_header {
    border-bottom: 3px solid #f4f7f1;
  }  

.header_home .box {
  flex: 1;
  margin: 20px 10px;
  padding: 15px 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.home .text {
  flex: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* Section new entries calculators*/

.section_new_entries {
    padding: 20px;
}

.section_carbon_app_new_entry_main {
  background-color: #f4f7f1;
}

.carbon_app_new_entry_main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: start;
  background: #f4f7f1;
}

.carbon_app_new_entry_main .box {
  background-color: #ccdac4;
  color: black;
  border-radius: 10px;
  margin: 10px;
  padding: 15px 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 260px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.carbon_app_new_entry_main .box:nth-of-type(8) {
    margin-bottom: 20px;
}


.instructions_calculator {
  text-align: center;
  min-height: 50px;
}

/* Buttons */

.section_container_buttons_carbon_app_new_entry_main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn_carbon_app_new_entry_main,
.box .btn {
  background-color: #628354;
  border-radius: 3px;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  margin: 4px 2px;
  text-align: center;
  border: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.btn_carbon_app_new_entry_main:hover,
.box .btn:hover {
  transform: translateY(2px);
  box-shadow: none;
  color: black;
  background-color: #557249;
}

.btn_carbon_app_new_entry_main:active,
.box .btn:focus {
  transform: translateY(4px);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2),
    inset 0 0 8px rgba(0, 0, 0, 0.4);
}
