html,
body {
  height: 100%;
  background-color: #ccdac4;
}

p, h1 {
  text-align: justify;
}

#wrap {
  min-height: 100%;
  background-color: #e0e1dd;
}

#main {
  padding-bottom: 72px;
} /* must be same height as the footer */



#footer {
  position: relative;
  margin-top: -72px;
  /* negative value of footer height */
  height: 72px;
  clear: both;
  background-color: #ccdac4 !important;
  color: black;
  font-size: 18px !important;
}

/* navbar settings */
.bg-primary {
  background-color: #ccdac4 !important;
}

.nav-link {
  font-size: 22px !important;
  color: black !important;
}
.navbar {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  margin-bottom: 30px;
}
.navbar-brand {
  padding-bottom: 0 !important;
}
.navbar-brand-img {
  height: 80px;
  width: 80px;
}
.nav-item :hover {
  background-color: #8aa57e;
  border-bottom: #fff 4px solid;
  color: #fff !important;
}

.nav-item.active a {
  background-color: #628354;
  border-bottom: #fff 4px solid;
  color: #fff !important;
}

.container-background {
  background-color: #fff;
}

.container {
  height: 100%;
}