<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/carbon_app.css">
    <title>Carbon App</title>

  
</head>
<body>
    {% extends "template.html" %}
    {% set active_page = "carbon_app" %}
    {% block content %}
    <section class="section_header">
        <div class="container">
            <div class="home">
                <h2 class="text"> Carbon App Calculator</h2>
            </div>
            <div class="home">
                <div class="header_home">
                    <div class="box">
                      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut tenetur soluta amet, ipsum, provident possimus quo at consequuntur temporibus eius cupiditate. Nostrum aut numquam impedit doloremque quo laborum eaque rerum provident sed est incidunt dolore libero, at distinctio tenetur dicta. Expedita necessitatibus est, illo excepturi dolore fugit animi maiores sequi.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda itaque impedit libero et mollitia pariatur rerum quibusdam veritatis beatae? Itaque necessitatibus doloribus ab porro totam ullam repellat tenetur fugit maiores!
                      </p>
                      <a href="{{url_for('methodology.methodology_m')}}" class="btn" style="color: black; text-decoration: none;">Methodology</a>
                     
                    </div>
                  </div>
            </div>
        </div> 
        <!-- Modal -->
        <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti accusamus asperiores ipsam assumenda eligendi pariatur praesentium itaque sit sunt, rerum laborum animi id blanditiis sed aut sequi maxime qui. Odio!
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
      </section> 

      <section class="section_new_entries">
        <div class="container">
          <div class="developers d_team">
            <h2 class="text" style="text-align: center;"> New entries</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum quo recusandae sed praesentium corporis necessitatibus facilis et eveniet, hic illo! Assumenda modi quasi dolores, dicta velit laudantium magni nam quia laborum nostrum fuga eveniet, maxime maiores voluptates doloribus pariatur omnis?
            </p>
            <div class="section_container_buttons_carbon_app_new_entry_main">
              <a class="btn_carbon_app_new_entry_main" data-bs-toggle="modal" data-bs-target="#new_entry"> New Entry </a> <!-- bs-target links to the id of the modal-->
            </div> 
          </div>
        </section>




      
        <section class="section_header">
          <div class="container">
            <div class="home">
              <h2 class="text">My Data</h2>
            </div>
            <div class="charts">
              <div class="box">
                  <canvas id="emissions_by_transport"></canvas>
              </div>
              <div class="box">
                  <canvas id="over_time_emissions"></canvas> 
              </div>
            </div>
          </div>
        </section>


         <!-- Two Emissions Graph Section -->
        <section class="two_emissions_graphs">
          <div class="container">
              <div class="box">
                  <canvas id="kms_by_transport"></canvas>
              </div>
              <div class="box">
                  <canvas id="over_time_kms"></canvas>
              </div>
          </div>
        </section> 


     <!-- Modal -->
     <div class="modal fade" id="new_entry" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg " >
      <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Entry</h5>
          
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="h1 mb-3" style="text-align: center;">
              <i id="transport_icon" class="fa-solid fa-truck-plane"></i>
            </div>
            <label for="transport">Type of transport</label> <br>
            <select id="transport">
              <option selected disabled value="default">Choose your mean of transport</option>
              <option value="car">Car</option>
              <option value="bus">Bus</option>
              <option value="plane">Plane</option>
              <option value="ferry">Ferry</option>
              <option value="motorcycle">Motorbike</option>
              <option value="bicycle">Bicycle</option>
              <option value="person-walking">Walk</option>
              <option value="train">Train</option>
            </select>
            <br>
            <label for="fuel">Fuel type</label> <br>
            <select id="fuel">
              <option selected disabled value="default">Choose a fuel type</option>
              <option value="Diesel">Diesel</option>
              <option value="CNG">CNG</option>
              <option value="Petrol">Petrol</option>
              <option value="Electric">Electric</option>
              <option value="No Fossil Fuel">No fuel</option>
            </select>
            <br>
            <label for="kms">Kilometers</label> <br>
            <input type="number" id="kms" name="kms" placeholder="Number of Kilometers" required>
            <div class="alert alert-danger" role="alert"  id="new_entry_error"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success" id="newEntryButton">Submit</button>
          </div>
      </div>
      </div>
    </div>  
    <script src="/static/newEntry.js" crossorigin="anonymous"></script>  

    {% endblock %}
    
</body>
</html>