<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    {% extends "template.html" %}
    {% set active_page = "home" %}
    {% block content %}
    
<!-- Header -->
<link rel="stylesheet" href="static/home.css">
<section class="section_header">
    <div class="container">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
             <div class="alert alert-success">
                  {{ message }}
              </div>
            {% endfor %}
              <script>
                  setTimeout(function() {
                      var flashes = document.querySelectorAll('.alert');
                      flashes.forEach(flash => flash.remove())
                  }, 5000);
              </script>
          {% endif %}
      {% endwith %}
      <div class="home">
        <div class="header_home">
            <div class="box box-left">
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut tenetur soluta amet, ipsum, provident possimus quo at consequuntur temporibus eius cupiditate. Nostrum aut numquam impedit doloremque quo laborum eaque rerum provident sed est incidunt dolore libero, at distinctio tenetur dicta. Expedita necessitatibus est, illo excepturi dolore fugit animi maiores sequi.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda itaque impedit libero et mollitia pariatur rerum quibusdam veritatis beatae? Itaque necessitatibus doloribus ab porro totam ullam repellat tenetur fugit maiores!
                </p>
                <div class="container-buttons" id="home_login_field">
                  <div class="button-container">
                    <div class="container_buttons_header_home">
                      <a class="btn_header_home" href="{{url_for('users.register')}}" style="color: black; text-decoration: none;">Register</a>
                    </div>
                  </div>
                  <div class="button-container">
                    <div class="container_buttons_header_home">
                      <a class="btn_header_home" href="{{url_for('users.login')}}" style="color: black; text-decoration: none;"> Login </a>
                    </div>
                  </div>
              </div>
            </div>                        
            <div class="box box-right">
                <div class="box-image-container">
                    <img src="static/images/main_logo.png" width="300" alt="logo">
                </div>
            </div>
        </div>
    </div>
  </section> 
  <!-- Developers-->
  <link rel="stylesheet" href="static/developers.css">
  <section class="section_developers">
    <div class="container">
      <div class="developers d_team">
        <h1 style="text-align: center;"> Our Team</h1>
        <p>
          Our team consists of 5 developers, who are all students at NHH - Norwegian School of Economics. 
          Our shared passion for economics and IT has fueled our excitement about combining 
          these two fields to create this Carbon App that we believe can make a significant impact on the environment. 
          We are driven by a strong desire to make a positive difference in the world, and we recognize that technology 
          can be a powerful tool in achieving this goal. <br><br>
          Our team is deeply committed to developing a solution that will promote sustainable practices and encourage 
          both individuals and businesses to make environmentally friendly choices in their daily lives. We recognize the pressing need for 
          action to address the challenges facing our planet, and we believe that our application can be a catalyst for positive change.


        </p>
      </div>
      <div class="developers">  <!-- Creats a list with name, and filename off photo-->
        {% set dev_team = [
          ("Christian Eriksen", 'Christian.jpg', 'https://github.com/Eriksen1110/FOR19'), 
          ('Sara Birkeland', 'Sara.jpg', 'https://github.com/s203645/FOR19-final'), 
          ('Richard Myrdal', 'Richard.jpg', 'https://github.com/jonkringeland'),
          ('Per Ole Lande', 'Per.jpg', 'https://github.com/perolelande/for19'),
          ('Jon Kringeland', 'Jon.jpg','https://github.com/jonkringeland')]
          -%}

          {% for name, path, url in dev_team %}
          <div class="box">
            <img class="box-image" src="static/images/{{path}}" alt="" style="border-radius: 50%; width:200px;">
            <h3> {{ name }}</h3>
            <p>
              <il>
                {% if name == 'Christian Eriksen' %}
                  <li> 
                    22 years old from Asker
                  </li>
                  <li>
                    3rd year student at NHH
                  </li>
                {% elif name == 'Sara Birkeland' %}
                  <li> 
                    22 years old from Bergen
                  </li>
                  <li>
                    3rd year student at NHH
                  </li>
                {% elif name == 'Richard Myrdal' %}
                  <li> 
                    22 years old from Bergen
                  </li>
                  <li>
                    3rd year student at NHH
                  </li>
                {% elif name == 'Per Ole Lande' %}
                  <li> 
                    23 years old from Karmøy
                  </li>
                  <li>
                    3rd year student at NHH
                  </li>
                {% else %}
                  <li> 
                    22 years old from Haugesund
                  </li>
                  <li>
                    3rd year student at NHH
                  </li>
                {% endif %}
              </il>
            </p>
        
          <div class="container_buttons_developers">
            <a class="btn_developers" data-bs-toggle="modal" data-bs-target="#cv_Modal" data-bs-whatever="CV_{{name}}.pdf"> Curriculum </a> <!-- bs-target links to the id of the modal-->
          </div>
          <div class="container_buttons_developers">
            <a class="btn_developers" href="{{url}}" target="_blank"> <!-- Using _blank to open a new tab-->
              GitHub
            </a>
          </div>
        </div>
        {% endfor %}


     <!-- Modal -->
     <div class="modal fade" id="cv_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg " style="height: 80%;" >
      <div class="modal-content" style="height:100%">
          <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Curriculum</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <iframe id="cv_frame" src="" width="100%" height="100%"></iframe>  <!-- Using iframe to view the pdf file.-->
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
      </div>
      </div>
    </div>  
  </section>

  <script>
   $(document).ready(function () {
    let logged_in = "{{ session['logged_in'] }}"
    if (logged_in == "True") {
      $("#home_login_field").hide();
      };
    });
  </script>

  <script>
    var cvModal = document.getElementById('cv_Modal')
    cvModal.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget
    var path = button.getAttribute('data-bs-whatever')
    var frame = document.getElementById('cv_frame')
    frame.src = "static/" +path
  })
  </script>
    {% endblock %}
    
</body>
</html>