<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/methodology.css">
    <title>Methodology</title>
</head>
<body>

    {% extends "template.html" %}
    {% set active_page = "methodology" %}
    {% block content %}

    <section class="section_header">
      <div class="container">
        <div class="home">
            <h2 class="text"> Methodology and formulas</h2>
        </div>
          <div class="header_home">
            <div class="box">
              <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#paper_Modal">
                Paper
              </button>
              <a href="{{url_for('carbon_app.carbon_application')}}" class="btn" style="color: black; text-decoration: none;">Carbon App</a>

            </div>
          </div>
        </div>
       
    </section> 
      <!-- Formulas-->
      <section class="section_formulas">
        <div class="container">
          <div class="developers d_team">
          </div>
          <div class="formulas">
            <p style="text-align: justify;"> 
              It is important to understand the different methods used to compare modes of transport 
              and measure their emissions. The most common approach is to calculate the amount of carbon dioxide equivalent (\(CO_2e\)) 
              emissions for transporting a passenger by a defined mode of transport over one kilometer (passenger kilometer). This 
              metric allows for emissions data to be standardized per individual passenger, regardless of the transportation mode. <br> <br>

              The \(CO_2e\) metric represents the amount of GHG emissions that have been converted into an equivalent
              amount of \(CO_2\). The global warming potential (GWP) parameter is used to convert these
              emissions, such as \(N_2O\), \(CH_4\) and other GHG emissions, into a common unit of measurement.
              By converting GHG emissions into \(CO_2\) equivalents, it becomes easier to compare the environmental impact 
              of different modes of transportation. Thus, \(CO_2e\) considers factors such as the type and amount of fuel used, 
              making it a comprehensive and accurate measurement for assessing the environmental impact. <br> <br>

              To show how \(CO_2e\) works, we will provide a simple example with methane (\(CH_4\)). Methane has a GWP of approximately 27,
              meaning that the emission of 1 kg of \(CH_4\) equals the emission of 27 kg of \(CO_2\). This implies that the
              emission of 1 kg of \(CH_4\) and 27 kg of \(CO_2\) has the same adverse environmental impact. We can calculate the \(CO_2e\)
              using the following equation, where “a” is number of kg emitted and “c” is the GWP:


            </p>
            <div class="box-formula">
              <p style="text-align: center;">
                Equation 1: Converting the emission of a GHG to \(CO_2e\) <br><br>
                \[ac = CO_2e\]
              </p>
            </div>
            <p style="text-align: center;">
              If we emit 1 kg of \(CH_4\), which has a GWP of 27 kg as previously stated, the equation will look as follows:
            </p>
            <div class="box-formula">
                <p style="text-align: center;">
                  Equation 2: Converting the emission of a methane to \(CO_2e\) <br><br>
                  \[1\ kg\ CH_4 * 27\ (GWP) = 27\ kg\ (CO_2e)\]
                </p>
            </div>
            <p style="text-align: center;">
              When combusting fossil fuels, several GHGs are emitted. To calculate the \(CO_2e\) emission from the combustion, we must
              convert the emissions from each GHG to \(CO_2e\). We can do this by multiplying the number of kilograms emitted of the
              given GHG (a), with the GWP of the GHG (c). Then we have to sum the \(CO_2e\) of all the GHGs. We can express this as
              in the equation below, where “i” is a given GHG and “n” is the number of GHGs.
            </p>
            <div class="box-formula">
                <p>
                  Equation 3: Converting the emissions of GHGs to \(CO_2e\) <br><br>
                  \[CO_2e = \sum_{i=1}^{n} a_{i}c_{i}\]
                </p>
            </div>
            <p style="text-align: center;">
              If we want to express the \(CO_2e\) per passenger kilometer traveled, we can modify the equation, where “d”
              is the number of passenger miles traveled.
            </p>
            <div class="box-formula">
                <p>
                  Equation 4: Converting the emissions of GHGs to \(CO_2e \over d\) <br><br>
                  \[{CO_2e \over d} = {1 \over d} \sum_{i=1}^{n} a_{i}c_{i}\]
                </p>
            </div>
            <p style="text-align: center;">
              To demonstrate the use of equation 4, we will provide a simple example as follows. Alice travels 100 passenger 
              kilometers, which emits 2 kg \(CH_4\) (i=1), 0,2 kg \(N_2O\) (i=2) and 10 kg \(CO_2\) (i=3). \(N_2O's\) GWP is
              273 and \(CO_2\ 's\) GWP is 1. Given this information, we can calculate Alice's \(CO_2e\) emission
              per passenger kilometer traveled as follows:
            </p>
            <div class="box-formula">
              <p style="text-align: center;">
                Example: <br>
                \[{CO_2e \over d} = {2\ kg * 27 + 0,2\ kg * 273 + 10\ kg * 1 \over 100\ km}\] <br>
                \[= {CO_2e \over d} = 1,186 {kg \over km}\]
              </p>
          </div>
          <p style="text-align: center;">
            As evidenced by this example, we need detailed information about how many kilograms of GHGs that are emitted, as well 
            as the corresponding GWP, to calculate the \(CO_2e\) emission per passenger kilometer traveled. To simplify the process and 
            make our app more user-friendly, we have decided to use average of \(CO_2e\) emitted per passenger kilometer for each mode 
            of transport, rather than requiring exact emission factors for each individual vehicle. For example, instead of using 
            different emission factors for cars made by different manufacturers, we will use a single average emission factor for 
            cars using a given power source (electric, hybrid, diesel, and gasoline). This factor represents the average grams of 
            \(CO_2e\) emitted per passenger kilometer for a particular mode of transport, for example 192 grams of \(CO_2e\) per passenger 
            kilometer for gasoline cars. While we acknowledge that this approach may result in some imprecision, we believe it is a 
            reasonable trade-off to make the user interface cleaner and more intuitive. It is also very important to note that we 
            are relying on experts and data collected from the entire world, to provide us with accurate emission factors and 
            calculations for \(CO_2e\).
          </p>
          </div> 
      </section>
           <!-- Modal -->
     <div class="modal fade" id="paper_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg " style="height: 80%;" >
      <div class="modal-content" style="height:100%">
          <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Paper</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <iframe id="paper_frame" src="static/Essay.pdf" width="100%" height="100%"></iframe>  <!-- Using iframe to view the pdf file.-->
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
      </div>
      </div>
    </div>  

    {% endblock %}
    
</body>
</html>