<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/methodology.css">
    <title>Methodology</title>
</head>
<body>

    {% extends "template.html" %}
    {% set active_page = "methodology" %}
    {% block content %}

    <section class="section_header">
      <div class="container">
        <div class="home">
            <h2 class="text"> Methodology</h2>
        </div>
          <div class="header_home">
            <div class="box">
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut tenetur soluta amet, ipsum, provident possimus quo at consequuntur temporibus eius cupiditate. Nostrum aut numquam impedit doloremque quo laborum eaque rerum provident sed est incidunt dolore libero, at distinctio tenetur dicta. Expedita necessitatibus est, illo excepturi dolore fugit animi maiores sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda itaque impedit libero et mollitia pariatur rerum quibusdam veritatis beatae? Itaque necessitatibus doloribus ab porro totam ullam repellat tenetur fugit maiores!
              </p>
              <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#paper_Modal">
                Paper
              </button>
              <a href="{{url_for('carbon_app.carbon_application')}}" class="btn" style="color: black; text-decoration: none;">Carbon App</a>
            </div>
          </div>
        </div>
       
    </section> 
      <!-- Formulas-->
      <section class="section_formulas">
        <div class="container">
          <div class="developers d_team">
            <h1 style="text-align: center;"> Formulas</h1>
          </div>
          <div class="formulas">
            <div class="box-formula">
                Sum:
                \[ \sum_{n=1}^{\infty} 2^{-n} = 1 \]
            </div>
            <div class="box-formula">
                Limits:
                \[ \lim_{x\to\infty} f(x) \]
            </div>
            <div class="box-formula">
                Expression:
                \[ x^2 + y^2 = z^2 \]
            </div>
            <div class="box-formula">
                Integral:
                \[ \int_{a}^{b} x^2 \,dx \]
            </div>
          </div> 
      </section>
           <!-- Modal -->
     <div class="modal fade" id="paper_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg " style="height: 80%;" >
      <div class="modal-content" style="height:100%">
          <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Paper</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <iframe id="paper_frame" src="static/Essay.pdf" width="100%" height="100%"></iframe>  <!-- Using iframe to view the pdf file.-->
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
      </div>
      </div>
    </div>  

    {% endblock %}
    
</body>
</html>