<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carbon App</title>
  </head>
  <body>
    {% extends "template.html" %} {% set active_page = "my_data" %} {% block
    content %}
    <section class="section_header">
      <div class="container">
        <div class="home">
          <h2 class="text">My Data</h2>
        </div>
        <div class="home">
          <div class="header_home">
            <div class="box">
              <p class="text_align_left">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut
                tenetur soluta amet, ipsum, provident possimus quo at
                consequuntur temporibus eius cupiditate. Nostrum aut numquam
                impedit doloremque quo laborum eaque rerum provident sed est
                incidunt dolore libero, at distinctio tenetur dicta. Expedita
                necessitatibus est, illo excepturi dolore fugit animi maiores
                sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Assumenda itaque impedit libero et mollitia pariatur rerum
                quibusdam veritatis beatae? Itaque necessitatibus doloribus ab
                porro totam ullam repellat tenetur fugit maiores!
              </p>
              <a
                href="{{url_for('carbon_app.carbon_application')}}"
                class="btn"
                style="color: black; text-decoration: none"
                >Carbon App Calculator</a
              >
              <button
                type="button"
                class="btn btn-info"
                data-bs-toggle="modal"
                data-bs-target="#infoModal"
              >
                Chart
              </button>
            </div>
          </div>
        </div>
      </div>
      <div
        class="modal fade"
        id="infoModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Information</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
              accusamus asperiores ipsam assumenda eligendi pariatur praesentium
              itaque sit sunt, rerum laborum animi id blanditiis sed aut sequi
              maxime qui. Odio!
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}
  </body>
</html>
